@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 235 36% 95%;
  --foreground: 235 5% 10%;
  --card: 235 36% 90%;
  --card-foreground: 235 5% 15%;
  --popover: 235 36% 95%;
  --popover-foreground: 235 95% 10%;
  --primary: 235 35% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 235 30% 71%;
  --secondary-foreground: 0 0% 0%;
  --muted: 197 30% 85%;
  --muted-foreground: 235 5% 40%;
  --accent: 197 30% 80%;
  --accent-foreground: 235 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 235 5% 90%;
  --border: 235 30% 71%;
  --input: 235 30% 50%;
  --ring: 235 35% 51%;
  --radius: 0.5rem;
}
.dark {
  --background: 235 36% 10%;
  --foreground: 235 5% 90%;
  --card: 235 36% 10%;
  --card-foreground: 235 5% 90%;
  --popover: 235 36% 5%;
  --popover-foreground: 235 5% 90%;
  --primary: 235 35% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 235 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 197 30% 25%;
  --muted-foreground: 235 5% 65%;
  --accent: 197 30% 25%;
  --accent-foreground: 235 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 235 5% 90%;
  --border: 235 30% 50%;
  --input: 235 30% 50%;
  --ring: 235 35% 51%;
  --radius: 0.5rem;
}
